<extend template="base.html">

<main id="content">
<!-- Subtitle --> 
<div class="intro" >
  <div class="about">
     <h2 class="center"> Angel Marquez </h2>
     <p class="center"> Software Engineer by trade with interests in Audio, Embedded, <br> 
       Formal Methods, Deterministic Simulation Testing.
     </p>
  </div>
  <div class="cards">
    <div class="card">
      <h2> Furioncycle.github.io </h2>
      <p> Personal website with my ramblings and opinions. </p>
      <div class="links">
        <div class="project-links">
          <a href="https://github.com/kristoff-it/zine" class="socials"><i class="fab fa-github"></i></a>
          <a href="https://github.com/ziglang/zig" class="zig"><i class="zig"></i></a>
        </div>
        <a href="https://github.com/furioncycle/furioncycle.github.io/dalek" class="socials"><i class="far fa-link"></i></a>
      </div> 
    </div>
    <div class="card">
      <h2> Nixos homelab</h2>
        <p> My Nixos configuration for my devices.</p>
      <div class="links">
        <a href="https://nixos.org" class="nix"><i class="nix"></i></a>              
        <div class="project-links">
         <a href="https://github.com/furioncycle/flaked" class="socials"><i class="fab fa-github"></i></a>
         <a href="https://github.com/furioncycle/hogar" class="socials"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>  
    <div class="card">
      <h2> Dalek</h2>
      <p> Deterministic Audio Engine</p>
      <div class="links">
        <div class="project-links">
          <a href="https://github.com/ziglang/zig" class="zig"><i class="zig"></i></a>
        </div>
        <a href="https://github.com/furioncycle/furioncycle.github.io/dalek" class="socials"><i class="far fa-link"></i></a>       
      </div>
    </div>  </div>
</div>
</main>
