<extend template="base.html">

<main id="content">
<!-- Subtitle --> 
<div class="intro" >
  <div class="about">
     <h2 class="center"> Angel Marquez </h2>
     <p class="center"> Software Engineer by trade with interests in Audio, Embedded, <br> 
       Formal Methods, Deterministic Simulation Testing.
     </p>
  </div>
  <div class="cards">
    <div class="card">
      <h2> Furioncycle.github.io </h2>
      <p> Personal website with my ramblings and opinions. </p>
      <div class="links">
        <div class="project-links">
          <a href="https://github.com/kristoff-it/zine" class="socials"><i class="fab fa-github"></i></a>
          <a href="https://github.com/ziglang/zig" class="zig"><i class="zig"></i></a>
        </div>
        <a href="https://github.com/furioncycle/furioncycle.github.io/dalek" class="socials"><i class="far fa-link"></i></a>
      </div> 
    </div>
    <div class="card">
      <h2> Nixos homelab</h2>
        <p> My Nixos configuration for my devices.</p>
      <div class="links">
        <a href="https://nixos.org" class="nix"><i class="nix"></i></a>              
        <div class="project-links">
         <a href="https://github.com/furioncycle/flaked" class="socials"><i class="fab fa-github"></i></a>
         <a href="https://github.com/furioncycle/hogar" class="socials"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>  
    <div class="card">
      <h2> Dalek</h2>
      <p> Deterministic Audio Engine</p>
      <div class="links">
        <div class="project-links">
          <a href="https://github.com/ziglang/zig" class="zig"><i class="zig"></i></a>
        </div>
        <a href="https://github.com/furioncycle/furioncycle.github.io/dalek" class="socials"><i class="far fa-link"></i></a>       
      </div>
    </div>  </div>
=======
<div id="intro" class="f-col">
  <div class="card">
     <article class="f-col">
       <div class="center"> About Me </div>
       <p class="center"> Software Engineer by trade with interests in Audio, <br> Embedded, 
         Formal Methods,Deterministic Simulation <br> Testing.
       </p>
    </article>
  </div>
  <div class="card">
     <article class="f-col">
       <div class="center"> Work </div>
       <div class="align-items:start"> NAWCWD </div>
       <div class="f-row" style="padding-left:25px">
        <div>Management</div>
        <div class="align-items:end">
            <a class="nawc" href="nawc" target="_blank">
            <svg width="20px" height="20px" viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            <g id="SVGRepo_iconCarrier"> <path d="M21 11V3h-8v2h4v2h-2v2h-2v2h-2v2H9v2h2v-2h2v-2h2V9h2V7h2v4h2zM11 5H3v16h16v-8h-2v6H5V7h6V5z" fill="#3584e4"/> </g>
            </svg>
            </a>
        </div>
      </div>
      <div class="f-row" style="padding-left:25px">
        <div>Software Development</div>
        <div class="align-items:end">
            <a class="nawc" href="nawc" target="_blank">
            <svg width="20px" height="20px" viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            <g id="SVGRepo_iconCarrier"> <path d="M21 11V3h-8v2h4v2h-2v2h-2v2h-2v2H9v2h2v-2h2v-2h2V9h2V7h2v4h2zM11 5H3v16h16v-8h-2v6H5V7h6V5z" fill="#3584e4"/> </g>
            </svg>
            </a>
        </div>      
      </div>
     </article>
  </div>
  <div class="card">
     <article class="f-col">
       <div class="center"> Projects</div>
       <div class ="f-row">
        <div class="align-items:start"> Dalek </div>
        <div class="align-items:end">
            <a class="nawc" href="nawc" target="_blank">
            <svg width="20px" height="20px" viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            <g id="SVGRepo_iconCarrier"> <path d="M21 11V3h-8v2h4v2h-2v2h-2v2h-2v2H9v2h2v-2h2v-2h2V9h2V7h2v4h2zM11 5H3v16h16v-8h-2v6H5V7h6V5z" fill="#3584e4"/> </g>
            </svg>
            </a>
        </div>       
      </div>
      <div class ="f-row">
        <div class="align-items:start"> proptest </div>
        <div class="align-items:end">
            <a class="nawc" href="nawc" target="_blank">
            <svg width="20px" height="20px" viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            <g id="SVGRepo_iconCarrier"> <path d="M21 11V3h-8v2h4v2h-2v2h-2v2h-2v2H9v2h2v-2h2v-2h2V9h2V7h2v4h2zM11 5H3v16h16v-8h-2v6H5V7h6V5z" fill="#3584e4"/> </g>
            </svg>
            </a>
        </div>       
      </div>
      <div class ="f-row">
        <div class="align-items:start"> Nixos homelab </div>
        <div class="align-items:end">
            <a class="nawc" href="nawc" target="_blank">
            <svg width="20px" height="20px" viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            <g id="SVGRepo_iconCarrier"> <path d="M21 11V3h-8v2h4v2h-2v2h-2v2h-2v2H9v2h2v-2h2v-2h2V9h2V7h2v4h2zM11 5H3v16h16v-8h-2v6H5V7h6V5z" fill="#3584e4"/> </g>
            </svg>
            </a>
        </div>       
      </div>      
      <div class ="f-row">
        <div class="align-items:start"> Eno </div>
        <div class="align-items:end">
            <a class="nawc" href="nawc" target="_blank">
            <svg width="20px" height="20px" viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            <g id="SVGRepo_iconCarrier"> <path d="M21 11V3h-8v2h4v2h-2v2h-2v2h-2v2H9v2h2v-2h2v-2h2V9h2V7h2v4h2zM11 5H3v16h16v-8h-2v6H5V7h6V5z" fill="#3584e4"/> </g>
            </svg>
            </a>
        </div>       
      </div>     
      <div class ="f-row">
        <div class="align-items:start"> nowav </div>
        <div class="align-items:end">
            <a class="nawc" href="nawc" target="_blank">
            <svg width="20px" height="20px" viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            <g id="SVGRepo_iconCarrier"> <path d="M21 11V3h-8v2h4v2h-2v2h-2v2h-2v2H9v2h2v-2h2v-2h2V9h2V7h2v4h2zM11 5H3v16h16v-8h-2v6H5V7h6V5z" fill="#3584e4"/> </g>
            </svg>
            </a>
        </div>       
      </div>    
         </article>
  </div>
  <div class="card">
    <article class="f-col">
       <div class="center"> OSS contribution</div>
       <div class ="f-row">
        <div class="align-items:start"> Eelco </div>
        <div class="align-items:end">
            <a class="nawc" href="nawc" target="_blank">
            <svg width="20px" height="20px" viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            <g id="SVGRepo_iconCarrier"> <path d="M21 11V3h-8v2h4v2h-2v2h-2v2h-2v2H9v2h2v-2h2v-2h2V9h2V7h2v4h2zM11 5H3v16h16v-8h-2v6H5V7h6V5z" fill="#3584e4"/> </g>
            </svg>
            </a>
        </div>       
      </div> 
      <div class ="f-row">
        <div class="align-items:start"> FTN </div>
        <div class="align-items:end">
            <a class="nawc" href="nawc" target="_blank">
            <svg width="20px" height="20px" viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            <g id="SVGRepo_iconCarrier"> <path d="M21 11V3h-8v2h4v2h-2v2h-2v2h-2v2H9v2h2v-2h2v-2h2V9h2V7h2v4h2zM11 5H3v16h16v-8h-2v6H5V7h6V5z" fill="#3584e4"/> </g>
            </svg>
            </a>
        </div>       
      </div>       
     </article>
  </div>
</div>
</main>
