<extend template="base.html">

<main id="content">

<div id="posts" class="columns bottom-1">
    <div class="column flex-measure-60 bottom-1">
      <h2 class="inline-block">Blog Posts</h2>
      /
      <a href="/archive/" title="Blog Posts Archive">Archive &#8594;</a>      
      <table class="table">
        <thead class="white ba b--white">
          <tr>
            <th class="measure-12">Date</th>
            <th>Title</th>
            <th class="measure-6">Link</th>
          </tr>
        </thead>      
        <tbody loop="$page.subpages()">
        <tr >
          <td>
            <span style="margin-bottom: 1rem;" var="$loop.it.date.format('January 02, 2006')"></span>
          </td>
          <td>
            <a href="$loop.it.permalink()" var="$loop.it.title"></a>
          </td>
          <td>
            <a class="btn btn-sm bg-dark-green white hover-white hover-bg-black measure-6" href="$loop.it.permalink()" title="read test"> Read &#8594;</a>    	
          </td>  
        </tr>    
      </tbody>  
      </table>     
    </div>
  </div>
</main>
