<extend template="base.html"/>

<main id="content">
<!-- Subtitle --> 
<div id="intro">
  <div id="subtitle" class="f-switch">
    <div class="f-col justify-content:center align-items:center text-center" style="color: whitesmoke;">
      <h1>
        Angel (Ttecho)
      </h1>
      <h2 class="sub-title">
        &#x2665;'s Nix, Music, & Zig
      </h2> 
    </div>
    <div>
      <img id="portrait" class="float:left" alt="image of the author" height="250" src="images/space.jpg" width="250">
    </div>
  </div>
  
  <!-- Introduction: TODO markdownify this -->
  <p>
    Hi <span class="wave">&#128075;</span>, I am a musician, developer, and lover of <a href="https://www.youtube.com/watch?v=I_R-b2_jwUA">biking</a>. I have a lot of hobbies that mostly revolve
    around music, technology, or exercise. I want to welcome you to my space to 
    put my writings and research about various things.
  </p>
  <p>
    If you stumbling upon this <b>thank you</b> and hopefully this has something for you to learn
    about.
    <br><br>
    Lets chat on what ever interests you as well.
  </p>
</div>
</main>
